[submodule "resources/public/styles/pygments-css"]
	path = resources/public/styles/pygments-css
	url = https://github.com/richleland/pygments-css.git
[submodule "resources/example-repos/php"]
	path = resources/example-repos/php
	url = https://github.com/spid-tech-docs/spid-php-examples
[submodule "resources/example-repos/java"]
	path = resources/example-repos/java
	url = https://github.com/spid-tech-docs/spid-java-examples
[submodule "resources/example-repos/clj"]
	path = resources/example-repos/clj
	url = https://github.com/spid-tech-docs/spid-clj-examples
[submodule "resources/example-repos/js"]
	path = resources/example-repos/js
	url = https://github.com/spid-tech-docs/spid-js-examples
[submodule "resources/example-repos/curl"]
	path = resources/example-repos/curl
	url = https://github.com/spid-tech-docs/spid-curl-examples.git
