{:auth-required true
 :description "Query the platform for login attempts. Every login attempt against your SPiD client(s), successful or not, is logged."
 :filters ["merchant"]
 :parameters {:ip "Show only login attempts from this IP address"
              :status "Filter by successful (`true`) or failed (`false`) logins"}
 :types [{:id :login
          :name "Login attempt object"
          :description "This object contains details about a login attempt"
          :type :object
          :fields [{:field :id :type :string}
                   {:field :clientid :type :string}
                   {:field :merchantId :type :integer}
                   {:field :email :type :string}
                   {:field :userid :type :string}
                   {:field :userAgent :type :string}
                   {:field :created :type :datetime}
                   {:field :type :type :login-type}
                   {:field :ip :type :string :description "Originating IP address"}
                   {:field :initalReferer :type :string :description "Referer from which the user came from"}
                   {:field :referer :type :string :description "Referer from which the login attempt came from"}
                   {:field :trackingRef :type :string :description "Client-provided unique visitor reference. Used for tracking"}
                   {:field :trackingTag :type :string :description "Client-provided string. Used for custom order tracking"}
                   {:field :status :type :string :description "`\"true\"` if login was successful, `\"false\"` if not"}
                   {:field :hash :type :string :description "An md5 hash of email+ip+userAgent. Used to identify login attempt patterns"}]}
         {:id :login-type
          :name "Login type"
          :description "A string describing the type of login attempt. The default value is `\"normal\"`."
          :type :string
          :values [{:value "normal" :description "Login with credentials (email and password)"}
                   {:value "auto" :description "Automatic login caused by a 'remember me' cookie"}
                   {:value "api" :description "Login via the login API (used in native apps)"}]}]}
