{["Identity Management" "Login API"] {:description "Retrieve login information"}
 ["Identity Management" "User API"] {:description "Create, modify and list user-specific data"}
 ["Identity Management" "Email API"] {:description "Check email availability"}
 ["Payment Services" "Product API"] {:description "Create, modify and list products"}
 ["Payment Services" "Subscription API"] {:description "Create, modify and list subscriptions"}
 ["Payment Services" "Bundle API"] {:description "Create and modify bundle items"}
 ["Payment Services" "Digital Contents API"] {:description "List digital contents"}
 ["Payment Services" "Payment API"] {:description "Retrieve payment agreements and transactions status (deprecated)"}
 ["Payment Services" "Direct Payment API"] {:description "Perform direct payments (server-to-server) on an user's SPiD account"}
 ["Payment Services" "Order API"] {:description "Retrieve orders and corresponding items and transactions"}
 ["Payment Services" "Campaign API"] {:description "Create, update and list campaigns"}
 ["Payment Services" "Voucher API"] {:description "Create, update, list and handout vouchers"}
 ["Payment Services" "PayLink API"] {:description "Create, update, and list PayLinks"}
 ["Payment Services" "InjectToken API"] {:description "Import tokens and list token names for clients"}
 ["Data Storage" "SODA Endpoints"] {:description "Attach or retrieve specific data to any object (Example: add application specific data as height/weight to a user)"}
 ["Data Storage" "DataObjects API"] {:description "Attach or retrieve specific data to user (Example: add application specific data as height/weight to a user)"}
 ["Data Storage" "Traits API"] {:description "Adds, deletes or updates the currently saved traits for a specified user"}
 ["Insight" "Report Database API"] {:description "Retrieve client-specific data for local processing"}
 ["Insight" "KPI API"] {:description "Retrieve client-specific KPI data"}
 ["Authorization" "OAuth"] {:description "Authorization extensions for clients"}
 ["Utilities" "Platform API"] {:description "Utilities to list features, versions and object description"}
 ;["Utilities" "Sysadmin API"] {:description "Should not be documented."}
 }
