{:client-id "YOUR ID"
 :client-secret "YOUR SECRET"
 :client-sign-secret "YOUR SIGN SECRET"
 :spid-base-url "https://stage.payment.schibsted.no"
 :demo-user {:email "demo@user"
             :password "DEMO USER PASSWORD"}}
