#{;; This is some sort of meta-endpoint representing error situations. It is not
  ;; an endpoint clients are supposed to interact directly with, so we ignore it
  ;; in the docs site.
  [:GET "/api/2/api/2/"]

  ;; 404 isn't really an endpoint either
  [:GET "api/2/*"]}
