;; These example params are used when generating example code snippets
;; for making requests to the API.

{"additionalReceiptInfo" "Special deal"
 "address" "Street"
 "address_country" "Norway"
 "address_formatted" "Street 2, 0123 City, Norway"
 "address_locality" "Norway"
 "address_postalCode" "0123"
 "address_region" "City"
 "address_streetAddress" "Street"
 "addresses" "{\"home\":{\"country\":\"Norway\",\"streetNumber\":\"1\",\"longitude\":\"\",\"floor\":\"\",\"locality\":\"\",\"formatted\":\"STREET 1, 0123 OSLO, NORGE\",\"streetEntrance\":\"\",\"apartment\":\"\",\"postalCode\":\"0123\",\"latitude\":\"\",\"type\":\"home\",\"region\":\"\",\"streetAddress\":\"STREET\"}}"
 "agreementRef" "Ref"
 "allowMultiSales" "1"
 "amount" "99"
 "autoRenew" "1"
 "availableStart" "2014-01-01"
 "availableStop" "2016-06-01"
 "birthday" "1977-01-31"
 "birthyear" "1977"
 "bundle" "2"
 "bundleId" "42"
 "buyerUserId" "632784"
 "campaignId" "23494"
 "cancelUri" "http://somewhere.com"
 "clientId" "4321abc00000000000000000"
 "client_id" "4321abc00000000000000000"
 "clientRef" "ref"
 "clientReference" "ref"
 "code" "ipad"
 "content" ""
 "currency" "NOK"
 "deliveryAddress" "Street 123"
 "description" "Some information"
 "displayName" "John"
 "email" "johnd@example.com"
 "emails" "johnd@example.com"
 "emails_regex" ".*@somewhere.com"
 "end_time" "2016-06-01"
 "expires" "2016-06-01"
 "familyName" "Doe"
 "fields" "id,fullName,email"
 "filters" "merchant"
 "from" "2014-01-01"
 "fullName" "John Emeritus Doe"
 "gender" "undisclosed"
 "givenName" "John"
 "h" "100"
 "hash" "7374163eed7a0e88f9bf28e128d8da82"
 "hideItems" "1"
 "homeAddress" "Street 1234"
 "id" "1337"
 "identifierId" "42"
 "userId" "42"
 "invoiceAddress" "Street 123"
 "ip" "8.8.8.8"
 "items" "[]"
 "jwt" "{}"
 "key" "some-data"
 "limit" "10"
 "locale" "nb_NO"
 "metaData" "Meta"
 "name" "John Doe"
 "not_accepted" "1"
 "notifyUser" "1"
 "oauth_token" "0123456789abcdef0123456789abcdef01234567"
 "object" "User"
 "ocr" "1234567"
 "offset" "10"
 "orderId" "42"
 "orderItemId" "43"
 "parentProductId" "44"
 "password" "admin123"
 "paylinkId" "777"
 "paymentIdentifier" "2"
 "paymentOptions" "2"
 "phoneNumber" "69000000"
 "phoneNumbers" "69000000"
 "photo" "http://gravatar.com/xyz"
 "preferredUsername" "johnd"
 "price" "400"
 "product" "221423"
 "productId" "1337"
 "product_id" "234678"
 "products" "[]"
 "property" "status"
 "purchaseFlow" "AUTHORIZE"
 "quantityLimit" "10"
 "query" "john doe"
 "redeem_limit" "10"
 "redirectUri" "http://somewhere.com/else/"
 "requestReference" "ref"
 "requireAddress" "1"
 "requireVoucher" "1"
 "role" "watcher"
 "saleStart" "2016-06-01"
 "saleStop" "2014-07-01"
 "section" "roles"
 "sellerUserId" "32478923"
 "since" "2014-01-01"
 "sort" "userId"
 "startDate" "2016-06-01"
 "start_time" "2016-06-01"
 "status" "0"
 "stopDate" "2014-07-01"
 "subid" "34678239"
 "subscriptionAutoRenew" "1"
 "subscriptionAutoRenewDisabled" "1"
 "subscriptionAutoRenewLockPeriod" "12000"
 "subscriptionEmailReceiptLimit" "0"
 "subscriptionFinalEndDate" "2014-12-31"
 "subscriptionGracePeriod" "12000"
 "subscriptionId" "234235"
 "subscriptionPeriod" "12000"
 "subscriptionRenewPeriod" "12000"
 "subscriptionRenewPrice" "59"
 "subscriptionSurveyUrl" "http://survey.example.com"
 "subtype" "product"
 "tag" "thingamajiggy"
 "template" "tpl"
 "templates" "[]"
 "title" "Freebies for all"
 "to" "someone@somewhere.com"
 "tokenName" "injectable"
 "trait" "key"
 "traits" "{\"key\":\"some-data\"}"
 "trigger" "emailverification"
 "type" "discount"
 "unique" "1"
 "until" "2014-07-01"
 "url" "http://example.com"
 "utcOffset" "+02:00"
 "value" "Some data"
 "vat" "96"
 "voucherCode" "My voucher"
 "voucherGroupId" "324673248"
 "w" "500"
 "verifiedFields" "{}"
 "initRef" "7374163eed7a0e88f9bf28e128d8da82"
 "paymentMethod" "VISA"
 "mediaDistribution" "PDF"
 "identifier" "14"
 "ssn" "12399912"
 "is3dsecure" "false"
 "token" "9f06789abcdef012345678123674501abcde2345"
 "maxAmount" "500000"
 "expirationDate" "2016-06-01"
 "lastVerified" "2016-06-01 12:00:00"
 "context" "Foo bar"
 "stopAfterLock" "1"}
