;; These example params are used when generating example code snippets
;; for making requests to the API.

{"action" "???"
 "additionalReceiptInfo" "???"
 "address" "Street"
 "address_country" "Norway"
 "address_formatted" "Street 2, 0123 City, Norway"
 "address_locality" "Norway"
 "address_postalCode" "0123"
 "address_region" "City"
 "address_streetAddress" "Street"
 "addresses" "???"
 "agreementRef" "???"
 "allowMultiSales" "???"
 "amount" "99"
 "autoRenew" "???"
 "availableStart" "???"
 "availableStop" "???"
 "birthday" "1977-01-31"
 "birthyear" "1977"
 "bundle" "???"
 "bundleId" "42"
 "buyerUserId" "???"
 "campaignId" "???"
 "cancelUri" "???"
 "clientId" "42"
 "client_id" "42"
 "clientRef" "???"
 "clientReference" "???"
 "code" "???"
 "content" "???"
 "currency" "NOK"
 "deliveryAddress" "???"
 "description" "???"
 "displayName" "John"
 "email" "johnd@example.com"
 "emails" "johnd@example.com"
 "emails_regex" ".*@somewhere.com"
 "end_time" "???"
 "expires" "???"
 "familyName" "Doe"
 "fields" "id,fullName,email"
 "filters" "???"
 "from" "???"
 "fullName" "John Emeritus Doe"
 "gender" "undisclosed"
 "givenName" "John"
 "h" "???"
 "hash" "7374163eed7a0e88f9bf28e128d8da82"
 "hideItems" "???"
 "homeAddress" "???"
 "id" "1337"
 "identifierId" "42"
 "userId" "42"
 "invoiceAddress" "???"
 "ip" "???"
 "items" "???"
 "jwt" "???"
 "key" "some-data"
 "limit" "10"
 "locale" "nb_NO"
 "metaData" "???"
 "name" "John Doe"
 "not_accepted" "???"
 "notifyUser" "???"
 "oauth_token" "0123456789abcdef0123456789abcdef01234567"
 "object" "User"
 "ocr" "???"
 "offset" "10"
 "orderId" "42"
 "orderItemId" "43"
 "parentProductId" "44"
 "password" "admin123"
 "paylinkId" "777"
 "paymentIdentifier" "2"
 "paymentOptions" "2"
 "phoneNumber" "69000000"
 "phoneNumbers" "69000000"
 "photo" "http://gravatar.com/xyz"
 "preferredUsername" "johnd"
 "price" "400"
 "product" "???"
 "productId" "1337"
 "product_id" "???"
 "products" "???"
 "property" "status"
 "purchaseFlow" "???"
 "quantityLimit" "???"
 "query" "???"
 "redeem_limit" "???"
 "redirectUri" "???"
 "requestReference" "???"
 "requireAddress" "???"
 "requireVoucher" "???"
 "role" "???"
 "saleStart" "???"
 "saleStop" "???"
 "section" "???"
 "sellerUserId" "???"
 "since" "???"
 "sort" "userId"
 "startDate" "???"
 "start_time" "???"
 "status" "???"
 "stopDate" "???"
 "subid" "???"
 "subscriptionAutoRenew" "???"
 "subscriptionAutoRenewDisabled" "???"
 "subscriptionAutoRenewLockPeriod" "???"
 "subscriptionEmailReceiptLimit" "???"
 "subscriptionFinalEndDate" "???"
 "subscriptionGracePeriod" "???"
 "subscriptionId" "???"
 "subscriptionPeriod" "???"
 "subscriptionRenewPeriod" "???"
 "subscriptionRenewPrice" "???"
 "subscriptionSurveyUrl" "???"
 "subtype" "???"
 "tag" "???"
 "template" "???"
 "templates" "???"
 "title" "???"
 "to" "???"
 "tokenName" "???"
 "trait" "key"
 "traits" "{\"key\":\"some-data\"}"
 "trigger" "???"
 "type" "???"
 "unique" "???"
 "until" "???"
 "url" "http://example.com"
 "utcOffset" "???"
 "value" "???"
 "vat" "96"
 "voucherCode" "???"
 "voucherGroupId" "???"
 "w" "???"}
