;; These example params are used when generating example code snippets
;; for making requests to the API.

{"additionalReceiptInfo" "Special deal"
 "address" "Street"
 "addresses" "{\"home\":{\"country\":\"Norway\",\"streetNumber\":\"1\",\"longitude\":\"\",\"floor\":\"\",\"locality\":\"\",\"formatted\":\"STREET 1, 0123 OSLO, NORGE\",\"streetEntrance\":\"\",\"apartment\":\"\",\"postalCode\":\"0123\",\"latitude\":\"\",\"type\":\"home\",\"region\":\"\",\"streetAddress\":\"STREET\"}}"
 "agreementRef" "Ref"
 "allowMultiSales" "1"
 "amount" "99"
 "autoRenew" "1"
 "availableStart" "2014-01-01"
 "availableStop" "2016-06-01"
 "birthday" "1977-01-31"
 "birthyear" "1977"
 "bundle" "2"
 "bundleId" "42"
 "buyerUserId" "632784"
 "campaignId" "23494"
 "cancelUri" "http://somewhere.com"
 "clientId" "4321abc00000000000000000"
 "client_id" "4321abc00000000000000000"
 "clientRef" "ref"
 "clientReference" "ref"
 "code" "ipad"
 "content" ""
 "currency" "NOK"
 "deliveryAddress" "Street 123"
 "description" "Some information"
 "displayName" "John"
 "email" "johnd@example.com"
 "emails" "johnd@example.com"
 "expires" "2016-06-01"
 "familyName" "Doe"
 "fields" "id,fullName,email"
 "filters" "merchant"
 "fullName" "John Emeritus Doe"
 "gender" "undisclosed"
 "givenName" "John"
 "h" "100"
 "hash" "7374163eed7a0e88f9bf28e128d8da82"
 "hideItems" "1"
 "homeAddress" "Street 1234"
 "id" "1337"
 "userId" "42"
 "invoiceAddress" "Street 123"
 "ip" "8.8.8.8"
 "items" "[]"
 "jwt" "{}"
 "key" "some-data"
 "limit" "10"
 "locale" "nb_NO"
 "metaData" "Meta"
 "name" "{\"givenName\":\"John\",\"familyName\":\"Doe\",\"formatted\":\"John Doe\"}"
 "not_accepted" "1"
 "oauth_token" "0123456789abcdef0123456789abcdef01234567"
 "object" "User"
 "offset" "10"
 "orderId" "42"
 "parentProductId" "44"
 "password" "admin123"
 "paylinkId" "777"
 "paymentOptions" "2"
 "phoneNumber" "+46701111111"
 "phoneNumbers" "+46701111111"
 "photo" "http://gravatar.com/xyz"
 "preferredUsername" "johnd"
 "price" "400"
 "product" "221423"
 "productId" "1337"
 "products" "[]"
 "property" "status"
 "purchaseFlow" "AUTHORIZE"
 "quantityLimit" "10"
 "query" "john doe"
 "redirectUri" "http://somewhere.com/else/"
 "requireAddress" "1"
 "requireVoucher" "1"
 "saleStart" "2016-06-01"
 "saleStop" "2014-07-01"
 "sellerUserId" "32478923"
 "since" "2014-01-01"
 "sort" "userId"
 "startDate" "2016-06-01"
 "status" "0"
 "stopDate" "2014-07-01"
 "subscriptionAutoRenew" "1"
 "subscriptionAutoRenewDisabled" "1"
 "subscriptionAutoRenewLockPeriod" "12000"
 "subscriptionEmailReceiptLimit" "0"
 "subscriptionFinalEndDate" "2014-12-31"
 "subscriptionGracePeriod" "12000"
 "subscriptionId" "234235"
 "subscriptionPeriod" "12000"
 "subscriptionRenewPeriod" "12000"
 "subscriptionRenewPrice" "59"
 "subscriptionSurveyUrl" "http://survey.example.com"
 "templates" "[]"
 "title" "Freebies for all"
 "tokenName" "injectable"
 "trigger" "emailverification"
 "type" "discount"
 "unique" "1"
 "until" "2014-07-01"
 "url" "http://example.com"
 "utcOffset" "+02:00"
 "value" "Some data"
 "vat" "96"
 "voucherCode" "My voucher"
 "voucherGroupId" "324673248"
 "w" "500"
 "verifiedFields" "{}"
 "initRef" "7374163eed7a0e88f9bf28e128d8da82"
 "identifier" "14"
 "token" "9f06789abcdef012345678123674501abcde2345"
 "context" "Foo bar"
 "stopAfterLock" "1"
 "accessUntil" "2017-12-01 13:37:00"
 "assetId" "vg-pluss-slik-er-skam-stjernene"
 "assetIds" "vg-pluss-william-slutter-i-skam,vg-pluss-martha-og-englene"
 "connection" "sms"
 "passwordlessToken" "52b2c5e9-d11e-4bae-8b88-3f92cefc7f1d"
 "phone" "KzQ2NzAxMTExMTEx"
 "css" "body { color: #c00; }"
 "active" "true"
 "teaser_id" "123123"
 "data" ""
 "admin_id" "123123"
 "slug" "default"
 "date" "2017-01-03"
 "markdown" "# Markdown"
 "merchant_id" "46000"
 "services" "[{}]"
 "acceptTerms" "true"
 "reason" "Example deletion reason"
 }
