{;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; The top filters are used in more than one endpoint, use generic terms when
 ;; describing them.
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 :merchant "Show all results within the current merchant rather than the current client"
 :updated "Filter by recently updated items, order by last updated (should be used with since & until)"
 :active "Filter by items with status active"
 :inactive "Filter by items with status inactive (e.g. disabled)"
 :deleted "Filter by items with a deleted status"
 :all "Include all items in the response, including deleted/blocked or otherwise excluded items"
 :none "Do not apply any status filters (e.g. same as 'all')"
 :available "Return all items with status available"
 :unavailable "Return all items with status unavailable"
 :expired "Return all items with status expired"
 :bundle "Return product as a bundle, including its bundle items"
 :invisible "Return all products with status invisible - products that may be purchased via a direct link, but are not listed in normal product listings"
 :unselectable "Return all products with status unselectable"
 :subscriptions "Return products of type subscriptions"
 :content "Return products of type digital content"
 :items "Includes order items in the response"
 :identifier "Includes order payment identifiers in the response"
 :transactions "Includes all order transactions in the response"

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; The following filters are only used once each, and may be described in more
 ;; specific terms.
 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

 :unverified "Filter by users with status unverified"
 :new "Return campaigns with status new"
 :products "Include campaign products in the response"
 :renews "Return orders that are for subscription renewals (recurring payments)"
 :transfers "Return orders that are transfers. Not currently in use"
 :created "Use in combination with pagination parameters to find created orders in a time-span"
 :completed "Include completed orders in the results"
 :cancelled "Include cancelled orders in the results"
 :purchases "Default filter. Returns all regular orders (excludes renewals)"
 :pending "Return pending orders"
 :credited "Return orders that have been credited"
 :authorized "Return orders that have been authorized"
 :failed "Return failed orders"
 :blocked "Filter by users with status blocked"
 :verified "Filter by users with status verified"
 :imported "Filter by users that have been imported"
 :facebook "Filter by users using Facebook as a third party login"
 :live "Filter by users using Live as a third party login"
 :google "Filter by users using Google as a third party login"}
