[{:status 401
  :description "You don't have administration rights for this client."
  :type "api-exception"}
 {:status 401
  :description "Your client doesn't have administration rights for this client."
  :type "api-exception"}
 {:status 403
  :description "Client is not authorized to access this API endpoint. Contact SPiD to request access."
  :type "api-exception"}
 {:status 403
  :description "Requesting IP is not whitelisted"
  :type "api-exception"}
 {:status 404
  :description "Unknown client ID"
  :type "api-exception"}
 {:status 404
  :description "Client ID mismatch. The client making the request is no the owner of this resource, and does not have administrative privileges for it."
  :type "api-exception"}
 {:status 420
  :description "Request Ratelimit exceeded"
  :type "api-exception"}]
