;; Types that don't have descriptions, values or fields will not be linked. This
;; is used for basic types like strings and numbers, which does not need
;; additional documentation.

;; This file primarily contains trivial types. Most bigger object types are in
;; separate files in resources/types/*.edn. Keeping types in separate files
;; makes it easier to track changes in git, and makes it a lot easier to track
;; down problems, like syntax errors, uneven maps etc.

{:string {:id :string}
 :boolean {:id :boolean}
 :integer {:id :integer}
 :timestamp {:id :timestamp :name "timestamp, in seconds"}
 :boolnum {:id :boolnum :name "string, \"1\" (true) or \"0\" (false)"}
 :integer-string {:id :integer-string
                  :name "integer (as string)"
                  :description "Even though the value is encoded as a string in
                                responses, it does actually contain an integer,
                                and can be safely cast on the receiving end."}
 :object {:id :object}

 :url {:id :url :name "URL (string)"}

 :date {:id :date
        :description "An ISO-8601 formatted date. The specific format used by the API is YYYY-MM-DD"}

 :datetime {:id :datetime
            :description "Date and time on the format `YYYY-MM-DD HH:MM:SS`"}

 :price {:id :price
         :name "price"
         :description "Prices are provided in cents, as strings. A price is always accompanied
                       by a `currency` field. If a price field contains the value `\"2900\"` and
                       `currency` is `\"NOK\"`, the price is 29,00 NOK."}
}
