#body.split {background-image: url(/images/bg-split.png); background-repeat: repeat-y; background-position: 62% 0;}

.section,
.aside {overflow:hidden; *overflow:visible; *zoom:1;}
.main {float:left; width: 62%; }

.aside {font-size: 0.85em;}
.aside h2 {border-bottom: none;}

.aside .inline-code,
.aside .codehilite {background: #fbfbfb; border: 1px solid #ccc;}

.aside .tab {border: 1px solid #aaa; background: #f6f6f6; color: #666;}
.aside .tab.active {
    border-bottom: 1px solid #f6f6f6;
    background: -webkit-linear-gradient(top,       #fff 0%, #f6f6f6 100%);
    background:    -moz-linear-gradient(top,       #fff 0%, #f6f6f6 100%);
    background:     -ms-linear-gradient(top,       #fff 0%, #f6f6f6 100%);
    background:      -o-linear-gradient(top,       #fff 0%, #f6f6f6 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
}
.aside .tabs-content {border-top: 1px solid #ccc;}
