.line,
.lastUnit {overflow:hidden; *overflow:visible; *zoom:1;}
.unit {float:left;}
.s1of2 {width: 50%;}
.s1of3 {width: 33.33333%;}
.s1of4 {width: 25%;}

.item {border-right: 1px solid #eee; margin-right: 20px; padding-right: 10px;}
.lastUnit .item {margin-right: 0; border-right: none; padding-right: 0;}

.inline-code,
.codehilite {font-size: 0.9em;}
.grid-bound {display: inherit;}
