{:id :agreement
 :name "Agreement"
 :description "Agreement object"
 :fields [{:name "merchant_id"     :type :string :description "Merchant ID"}
          {:name "type"          :type :string :description "Agreement type: terms"}
          {:name "text"     :type :string :description "Agreement text"}
          {:name "date" :type :string :description "Date of agreement"}
          {:name "markdown"    :type :string :description "Agreement in Markdown format"}
          {:name "privacy_url"        :type :string :description "URL to privacy policy"}
          {:name "summary"      :type :string :description "Summary text if such exist"}
          {:name "title"      :type :string :description "Title of agreement"}
          {:name "updated"      :type :string :description "Timestamp of latest changes to agreement"}
          {:name "id"      :type :string :description "ID of agreement"}]}
