{:id :api-exception
 :name "API Exception"
 :rendering :object
 :fields [{:name "code"        :type :integer :description "The HTTP response code"}
          {:name "type"        :type :string  :description "The type of error, usually 'ApiException'"}
          {:name "description" :type :string}]}
