{:id :asset-access
 :name "Asset Access"
 :description ""
 :fields [{:name "merchantId"  :type :integer-string :always-available? true}
          {:name "uuid"        :type :string         :always-available? true}
          {:name "userId"      :type :integer-string :always-available? true}
          {:name "assetId"     :type :asset-id       :always-available? true}
          {:name "accessUntil" :type :date-time      :always-available? true}
          {:name "status"      :type :integer-string :always-available? true}
          {:name "updated"     :type :date-time      :always-available? true}
          {:name "created"     :type :date-time      :always-available? true}
         ]
}

