{:id :authenticated
 :name "Result after authentication"
 :fields [{:name "assertion" :type :string :always-available? true :description "Signed JWT assertion about the authentication (password, MFA, etc.)"}]}
