{:id :bundle-item
 :name "Bundle item"
 :inline-types [:bundle-item-status]
 :rendering :object
 :fields [{:name "bundleItemId"   :type :string             :description "Unique bundle item ID" :always-available? true}
          {:name "bundleId"       :type :string             :description "The bundle's product ID" :always-available? true}
          {:name "productId"      :type :string             :description "ID of the product to add" :always-available? true}
          {:name "price"          :type :price              :always-available? true}
          {:name "vat"            :type :integer-string     :description "VAT, fraction × 10000. For instance, 25% would be 2500" :always-available? true}
          {:name "sort"           :type :integer-string     :description "Sorting order, relative to other bundle items" :always-available? true}
          {:name "bundle"         :type :bundle}
          {:name "product"        :type :product}
          {:name "status"         :type :bundle-item-status}
          {:name "status_updated" :type :datetime           :description "When the bundle item status was last updated" :always-available? true}
          {:name "updated"        :type :datetime           :description "When the bundle item was last updated" :always-available? true}
          {:name "created"        :type :datetime           :description "When the bundle was created" :always-available? true}]}
