{:id :bundle
 :name "Bundle"
 :description "For more information about bundles, see [the Bundle API](/bundle-api/)"
 :rendering :object
 :fields [{:name "product_id"                          :type :integer-string  :description "The bundle's product ID" :always-available? true}
          {:name "parent_product_id"                   :type :integer-string  :description "Parent product ID, if any" :always-available? false}
          {:name "client_id"                           :type :string          :description "Client ID" :always-available? true}
          {:name "type"                                :type :product-type    :always-available? true}
          {:name "bundle"                              :type :bundle-type     :always-available? true}
          {:name "code"                                :type :string          :description "Client-specified identifier that may be more memorable than SPiD's generated ID numbers" :always-available? true}
          {:name "name"                                :type :string          :description "The bundle name" :always-available? true}
          {:name "description"                         :type :string          :description "A description of the bundle" :always-available? true}
          {:name "url"                                 :type :string          :description "A URL that contains more information about the bundle" :always-available? false}
          {:name "price"                               :type :price           :always-available? true}
          {:name "vat"                                 :type :integer-string  :description "Bundle VAT, in percent" :always-available? true}
          {:name "currency"                            :type :string          :description "The price currencu" :always-available? true}
          {:name "payment_options"                     :type :payment-options :description "Allowable payment options" :always-available? true}
          {:name "quantity_limit"                      :type :integer-string  :description "If the bundle is in limited supply (typically the case for physical products), this should be the maximum number of sales allowed" :always-available? false}
          {:name "quantity_count"                      :type :integer-string  :description "Number of sales for this bundle so far" :always-available? true}
          {:name "sale_start"                          :type :datetime        :description "The start of a sale (i.e., reduced price or with additional benefits) for this bundle." :always-available? false}
          {:name "sale_stop"                           :type :datetime        :description "The end of a sale" :always-available? false}
          {:name "available_start"                     :type :datetime        :description "When the bundle becomes available for sale. If `null`, the bundle is always available for sale." :always-available? false}
          {:name "available_stop"                      :type :datetime        :description "When the bundle is no longer available for sale." :always-available? false}
          {:name "hide_items"                          :type :string          :description "If `\"1\"`, individual bundle items will be hidden in customer communications" :always-available? true}
          {:name "subscription_period"                 :type :timestamp       :description "The subscription period" :always-available? true}
          {:name "subscription_renew_price"            :type :price           :description "Price of subscription renewal" :always-available? true}
          {:name "subscription_renew_period"           :type :timestamp       :description "For how long a renewal is valid" :always-available? true}
          {:name "subscription_auto_renew"             :type :boolnum         :description "If `\"1\"`, the subscription automatically renews" :always-available? true}
          {:name "subscription_auto_renew_lock_period" :type :timestamp       :description "The initial period during which auto renew cannot be changed" :always-available? true}
          {:name "subscription_auto_renew_disabled"    :type :boolnum         :description "If `\"1\"`, auto renew is not available" :always-available? true}
          {:name "subscription_grace_period"           :type :integer         :description "The period after a failed renewal charge the subscription will stay active" :always-available? true}
          {:name "subscription_email_receipt_limit"    :type :integer         :description "The maximum number of email receipts" :always-available? true}
          {:name "subscription_final_end_date"         :type :datetime        :description "By this date, the subscription is no longer for sale" :always-available? false}
          {:name "subscription_survey_url"             :type :string          :description "URL to a survey about the bundle" :always-available? false}
          {:name "allow_multi_sales"                   :type :boolnum         :description "If `\"1\"`, users can purchase this product multiple times" :always-available? true}
          {:name "guardian"                            :type :boolnum         :description "If `\"1\"`, access to this product is granted through owning a child product" :always-available? true}
          {:name "autopay"                             :type :boolnum         :description "If `\"1\"`, this product can be purchased or renewed through the payment autopay API" :always-available? true}
          {:name "status"                              :type :product-status  :always-available? true}
          {:name "changed_by"                          :type :integer-string  :description "ID of the user who last changed the bundle" :always-available? true}
          {:name "changed"                             :type :datetime        :description "When the bundle was last changed" :always-available? true}
          {:name "created_by"                          :type :integer-string  :description "ID of the user who created the bundle" :always-available? true}
          {:name "created"                             :type :datetime        :description "When the bundle was created" :always-available? true}]}
