{:id :campaign-product
 :name "Campaign product"
 :rendering :object
 :description "A campaign product is a modification of a product within a
campaign. This object represents a separate [product](/types/product/), and only
overrides the price. Note that in case of price changes for the original product,
the campaign product will require manual updates, if necessary."
 :fields [{:name "id"              :type :integer-string :description "Unique ID of the campaign product" :always-available? true}
          {:name "campaignId"      :type :integer-string :description "ID of the campaign this product belongs to" :always-available? true}
          {:name "productId"       :type :integer-string :description "The original product ID" :always-available? true}
          {:name "discountId"      :type :integer-string :description "" :always-available? true}
          {:name "newPrice"        :type :price          :description "The campaign price, in cents" :always-available? true}
          {:name "includeChildren" :type :boolnum        :description "" :always-available? true}
          {:name "updated"         :type :datetime       :description "When the campaign product was last updated" :always-available? true}
          {:name "created"         :type :datetime       :description "When the campaign product was created" :always-available? true}]}
