{:id :campaign
 :name "Campaign"
 :inline-types [:campaign-status]
 :description "Campaigns are groups of products that may be given new prices
when purchased through the campaign. For a campaign to be applied to a purchase,
it’s `campaignId` needs to be part of the purchase URL. Campaigns may have
limitations on their availability in time (start and stop dates), count (ie how
many times it has been used), voucher (requires a valid voucher code to use) or
address (the user must supply a physical address in order to use it).

Although campaigns are intended for temporary special offers, they may also be
used as permanent way of getting lists of products. For this use case one has to
be aware that the `newPrice` of campaign products does not update automatically
if the product price is updated."
 :fields [{:name "campaignId"            :type :integer-string     :description "The campaign's unique ID. Needs to be part of any purchase URL that should have the campaign applied" :always-available? true}
          {:name "clientId"              :type :string             :description "ID of the client that owns this campaign" :always-available? true}
          {:name "title"                 :type :string             :description "Campaign title" :always-available? true}
          {:name "description"           :type :string             :description "Additional campaign description" :always-available? true}
          {:name "metaData"              :type :string             :description "Not used by SchAcc, for client-specific meta-data" :always-available? false}
          {:name "startDate"             :type :datetime           :description "When the campaign starts/becomes active" :always-available? true}
          {:name "stopDate"              :type :datetime           :description "When the campaign stops/ceases to be active" :always-available? true}
          {:name "additionalReceiptInfo" :type :string             :description "Additional text to include in purchase receipts for this campaign" :always-available? false}
          {:name "requireAddress"        :type :boolnum            :description "If `\"1\"`, access to the campaign requires users to have a delivery address on their SchAcc profile" :always-available? true}
          {:name "requireVoucher"        :type :boolnum            :description "If `\"1\"`, access to the campaign requires an available voucher code that belongs to a voucher group connected to this campaign" :always-available? true}
          {:name "status"                :type :campaign-status    :always-available? true}
          {:name "limit"                 :type :integer-string     :description "Maximum number of purchases allowed for this campaign" :always-available? true}
          {:name "count"                 :type :integer-string     :description "The number of purchases made on this campaign so far" :always-available? true}
          {:name "updated"               :type :datetime           :description "When the campaign was last updated" :always-available? true}
          {:name "created"               :type :datetime           :description "When the campaign was created" :always-available? true}
          {:name "products"              :type [:campaign-product] :description "The campaign's products" :always-available? false}]}
