{:id :data-object
 :name "Data object"
 :fields [{:name "dataObjectId" :type :integer-string :always-available? true :description "Unique data object ID"}
          {:name "clientId"     :type :string         :always-available? true :description "The ID of the client who created the data object"}
          {:name "merchantId"   :type :integer-string :always-available? true :description "The ID of the merchant the client belongs to"}
          {:name "userId"       :type :integer-string :always-available? true :description "The user the data is associated with"}
          {:name "key"          :type :string         :always-available? true :description "Client-provided key, e.g. the 'name' of this data. Max length is 255 bytes."}
          {:name "value"        :type :string         :always-available? true :description "Client-provided value. Max length is 65535 bytes."}
          {:name "updated"      :type :datetime       :always-available? true :description "When this value was last updated"}
          {:name "created"      :type :datetime       :always-available? true :description "When this value was originally created"}]}
