{:id :email-template-collection
 :name "Email template collection"
 :rendering :object
 :fields [{:name "change_password_notification"                            :type :email-template}
          {:name "post_expiration_autorenew_subscription_fail"             :type :email-template}
          {:name "confirm_email_address"                                   :type :email-template}
          {:name "sms_purchase_non_subscription_receipt"                   :type :email-template}
          {:name "confirm_email_address_without_password_with_redirect"    :type :email-template}
          {:name "api_verify_email"                                        :type :email-template}
          {:name "post_expiration_payment_identifier"                      :type :email-template}
          {:name "confirm_email_address_without_password"                  :type :email-template}
          {:name "new_verification_code"                                   :type :email-template}
          {:name "post_expiration_autorenew_subscription_ok"               :type :email-template}
          {:name "sms_purchase_non_auto_renewal_subscription_receipt"      :type :email-template}
          {:name "confirm_email_address_with_password"                     :type :email-template}
          {:name "added_secondary_email_notification"                      :type :email-template}
          {:name "pre_expiration_autorenew_subscription_on"                :type :email-template}
          {:name "pre_expiration_payment_identifier"                       :type :email-template}
          {:name "post_deletion_payment_identifier"                        :type :email-template}
          {:name "pre_expiration_autorenew_subscription_off"               :type :email-template}
          {:name "sms_purchase_auto_renewal_subscription_receipt"          :type :email-template}
          {:name "confirm_email_address_without_password_without_redirect" :type :email-template}
          {:name "post_thirdparty_signup"                                  :type :email-template}]}
