{:id :endpoint
 :name "Endpoint"
 :rendering :object
 :description "Endpoint description. Provides information about the
API itself. Most of this information is displayed in the API documentation you
are now reading."
 :fields [{:name "category"               :type [:string]    :always-available? true :description "The service and API this endpoint is categorized under."}
          {:name "name"                   :type :string      :always-available? true :description "Human-readable name of endpoint."}
          {:name "path"                   :type :string      :always-available? true :description "The API-relative path, e.g. without the leading /api/2"}
          {:name "pathParameters"         :type [:string]    :always-available? true :description "A list of parameters used in the path"}
          {:name "method"                 :type :string      :always-available? true :description "Allowable methods, GET, POST, DELETE or '*', e.g. multiple methods. See http-methods for details."}
          {:name "url"                    :type :string      :always-available? true :description "The full absolute path to this endpoint."}
          {:name "valid_output_formats"   :type :string      :always-available? true :description "Possible ouput formats. Use by sending format=[name] as a request parameter."}
          {:name "default_output_format"  :type :string      :always-available? true :description "The default output format, typically `json`."}
          {:name "parameter_descriptions" :type :object      :always-available? true :description "An object with parameter docstrings. The property names of this object are names of either request parameters or path parameters, and the value is a description of the parameter's purpose."}
          {:name "alias"                  :type :object      :description "Some parameters have aliases; names that may be used in their place. The property names in this object are parameter names and the value denotes which parameter it will map to. `\"id\": \"user_id\"` means that `id` is an alternative way to provide the `user_id` parameter."}
          {:name "deprecated"             :type :string      :description "If deprecated, this string will indicate from which version it was deprecated."}
          {:name "httpMethods"            :type :http-method :always-available? true :description "Details about the supported HTTP methods with their purpose and possible outcomes."}
          {:name "controller"             :type :string      :always-available? true :description "The server-side controller. Should be ignored."}
          {:name "description"            :type :string      :always-available? true}]}
