{:id :login-attempt
 :name "Login attempt object"
 :description "This object contains details about a login attempt"
 :rendering :object
 :inline-types [:login-type]
 :fields [{:name "id"            :type :string}
          {:name "clientid"      :type :string}
          {:name "merchantId"    :type :integer-string}
          {:name "email"         :type :string}
          {:name "userid"        :type :string}
          {:name "userAgent"     :type :string}
          {:name "created"       :type :date}
          {:name "type"          :type :login-type}
          {:name "ip"            :type :string :description "Originating IP address"}
          {:name "initalReferer" :type :string :description "Referer from which the user came from"}
          {:name "referer"       :type :string :description "Referer from which the login attempt came from"}
          {:name "trackingRef"   :type :string :description "Client-provided unique visitor reference. Used for tracking"}
          {:name "trackingTag"   :type :string :description "Client-provided string. Used for custom order tracking"}
          {:name "status"        :type :string :description "`\"true\"` if login was successful, `\"false\"` if not"}
          {:name "hash"          :type :string :description "An md5 hash of email+ip+userAgent. Used to identify login attempt patterns"}]}
