{:id :order-status
 :name "Order status"
 :description "Order status changes happen according to the following state-machine:

![Order status state machine](/images/order-status.png)

See [callbacks](/callbacks/) to learn how to subscribe to these changes."
 :values [{:value "-3" :description "Expired"}
          {:value "-2" :description "Cancelled"}
          {:value "-1" :description "Failed"}
          {:value "0"  :description "Created"}
          {:value "1"  :description "Pending"}
          {:value "2"  :description "Complete"}
          {:value "3"  :description "Credited"}
          {:value "4"  :description "Authorized"}]}
