{:id :order-item
 :name "Order item"
 :fields [{:name "orderItemId"         :type :integer  :description "Unique order item ID"                                                           :always-available? true}
          {:name "orderId"             :type :integer  :description "Unique Order ID"                                                                :always-available? true}
          {:name "clientId"            :type :string   :description "Client ID"                                                                      :always-available? true}
          {:name "clientItemReference" :type :string   :description "A client provided reference to this order item. (Inherited from Paylink items)" :always-available? true}
          {:name "productId"           :type :integer  :description "Product ID. Defaults to 0"                                                      :always-available? true}
          {:name "discountId"          :type :integer  :description "Discount ID (if available)"                                                     :always-available? true}
          {:name "type"                :type :order-item-type       :always-available? true}
          {:name "status"              :type :integer  :description "Order item status"                                                              :always-available? true}
          {:name "code"                :type :string   :description "Product code"                                                                   :always-available? true}
          {:name "name"                :type :string   :description "Product Name"                                                                   :always-available? true}
          {:name "description"         :type :string   :description "Order item description"                                                         :always-available? true}
          {:name "description_2"       :type :string   :description "Order item description, line 2"                                                 :always-available? true}
          {:name "description_3"       :type :string   :description "Order item description, line 3"                                                 :always-available? true}
          {:name "description_4"       :type :string   :description "Order item description, line 4"                                                 :always-available? true}
          {:name "price"               :type :price    :description "Single item price (including VAT amount)"                                       :always-available? true}
          {:name "vat"                 :type :integer  :description "VAT, fraction × 10000. For instance, 25% would be 2500"                         :always-available? true}
          {:name "capturedAmount"      :type :integer  :description "The amount captured on this item"                                               :always-available? true}
          {:name "creditedAmount"      :type :integer  :description "The amount credited on this item"                                               :always-available? true}
          {:name "quantity"            :type :integer  :description "The number of occurrences of this productId/type"                               :always-available? true}
          {:name "updated"             :type :datetime :description "When the order was last updated"                                                :always-available? true}
          {:name "created"             :type :datetime :description "When the order was created"                                                     :always-available? true}]}
