{:id :passwordlessToken
 :name "PasswordlessToken"
 :description ""}

;; consider adding
;;  - :inline-types (other types to render along with this one)
;;  - :values (see dump-status.edn)
;;  - :fields (see email.edn)