{:id :paylink
 :name "Paylink"
 :rendering :object
 :inline-types [:purchase-flow :paylink-status :payment-options :paylink-item]
 :fields [{:name "paylinkId"       :type :integer-string  :description "Paylink ID"}
          {:name "clientId"        :type :string          :description "ID of the client that gets paid (seller client id). Defaults to the authenticated client"}
          {:name "code"            :type :string          :description "Paylink code"}
          {:name "shortUrl"        :type :string          :description "Paylink short URL"}
          {:name "sellerUserId"    :type :integer-string  :description "ID of the user that gets paid. If set, will connect this paylink to the user as seller and receiver of payment"}
          {:name "buyerUserId"     :type :integer-string  :description "ID of the user that can pay. If set, will lock this paylink to this user"}
          {:name "clientReference" :type :string          :description "Client's custom reference"}
          {:name "title"           :type :string          :description "The title shown to the user in the payment flow. Will also be shown on Payex' \"new credit card\" page"}
          {:name "purchaseFlow"    :type :purchase-flow   :description "Defaults to 1 (direct)"}
          {:name "paymentOptions"  :type :payment-options :description "Derfault is 2."}
          {:name "redirectUri"     :type :string          :description "The URL the user is redirected to after payment. Can also be overridden by the client in the payment flow"}
          {:name "cancelUri"       :type :string          :description "The URL the user is redirected to if the user aborts the payment or login flow. Can also be overridden by the client in payment flow"}
          {:name "expires"         :type :string          :description "When the paylink will expire. A unix timestamp or a datetime. Defaults to 24 hours from creation"}
          {:name "status"          :type :paylink-status}
          {:name "updated"         :type :datetime        :description "When the paylink was last updated"}
          {:name "updatedBy"       :type :string          :description "ID of the person/client who last updated the paylink"}
          {:name "created"         :type :datetime        :description "When the paylink was created"}
          {:name "createdBy"       :type :string          :description "ID of the person/client who created the paylink"}
          {:name "items"           :type {:paylinkItemId :paylink-item}}]}
