{:id :product
 :name "Product"
 :rendering :object
 ;;:inline-types [:product-status]
 :fields [{:name "productId"                       :type :integer-string  :description "Unique product id" :always-available? true}
          {:name "parentProductId"                 :type :integer-string  :description "Id of the parent product, if any" :always-available? false}
          {:name "clientId"                        :type :string          :description "Your client id" :always-available? true}
          {:name "type"                            :type :product-type    :always-available? true}
          {:name "bundle"                          :type :bundle-type     :always-available? true}
          {:name "code"                            :type :string          :always-available? true}
          {:name "name"                            :type :string          :description "Product display name" :always-available? true}
          {:name "description"                     :type :string          :description "A detailed description of the product" :always-available? true}
          {:name "url"                             :type :url             :always-available? false}
          {:name "price"                           :type :price           :always-available? true}
          {:name "vat"                             :type :integer-string  :description "VAT, in percent" :always-available? true}
          {:name "currency"                        :type :string          :description "Price and VAT currency" :always-available? true}
          {:name "paymentOptions"                  :type :payment-options :description "Available payment options for this product" :always-available? true}
          {:name "quantityLimit"                   :type :integer-string  :description "Maximum available sales for this product." :always-available? false}
          {:name "quantityCount"                   :type :integer-string  :description "Number of sales for this product so far" :always-available? true}
          {:name "saleStart"                       :type :datetime        :description "Start of a sale for this product (i.e. reduced price or with additional benefits)" :always-available? true}
          {:name "saleStop"                        :type :datetime        :description "End of a sale" :always-available? true}
          {:name "availableStart"                  :type :datetime        :description "When this product is available for purchase" :always-available? false}
          {:name "availableStop"                   :type :datetime        :description "When this product is no longer available for purchase" :always-available? false}
          {:name "subscriptionPeriod"              :type :timestamp       :description "The subscription period" :always-available? true}
          {:name "subscriptionRenewPrice"          :type :price           :description "Price of subscription renewal" :always-available? true}
          {:name "subscriptionRenewPeriod"         :type :timestamp       :description "For how long a renewal is valid" :always-available? true}
          {:name "subscriptionAutoRenew"           :type :boolnum         :description "If `\"1\"`, the subscription automatically renews" :always-available? true}
          {:name "subscriptionAutoRenewLockPeriod" :type :timestamp       :description "The initial period during which auto renew cannot be changed" :always-available? true}
          {:name "subscriptionAutoRenewDisabled"   :type :boolnum         :description "If `\"1\"`, auto renew is not available" :always-available? true}
          {:name "subscriptionGracePeriod"         :type :integer-string  :description "The period after a failed renewal charge the subscription will stay active" :always-available? true}
          {:name "subscriptionEmailReceiptLimit"   :type :integer-string  :description "The maximum number of email receipts" :always-available? true}
          {:name "subscriptionFinalEndDate"        :type :datetime        :description "By this date, the subscription is no longer for sale" :always-available? false}
          {:name "allowMultiSales"                 :type :boolnum         :description "If `\"1\"`, users can purchase this product multiple times" :always-available? true}
          {:name "status"                          :type :product-status  :always-available? true}
          {:name "changedBy"                       :type :integer-string  :description "Id of the user that made the last change" :always-available? false}
          {:name "changed"                         :type :datetime        :always-available? false}
          {:name "createdBy"                       :type :integer-string  :description "Id of the user that created this product" :always-available? true}
          {:name "created"                         :type :datetime        :always-available? true}
          {:name "purchaseUri"                     :type :url             :description "A URI where the product may be purchased" :always-available? true}]}
