{:id :subscription-status-change-code
 :name "Subscription status change code"
 :rendering :enum
 :values [{:value "100" :description "Subscription expired via multiple failed payment method charge attempts"}
          {:value "110" :description "Subscription expired via API"}
          {:value "120" :description "Subscription expired passively (auto_renew is off)"}
          {:value "130" :description "Subscription expired by force"}
          {:value "140" :description "Subscription expired because it is no longer for sale"}
          {:value "150" :description "Subscription expired because it was renewed (i.e., a new subscription has been created)"}
          {:value "160" :description "Subscription expired because the user deleted their account"}
          {:value "170" :description "Subscription was paused"}
          {:value "180" :description "Expiry date was changed"}
          {:value "190" :description "Subscription expired because the user disabled auto renewal"}]}
