{:id :subscription
 :name "Subscription"
 :inline-types [:subscription-status :subscription-status-change-code]
 :fields [{ :name "subscriptionId"       :type :string                          :description "Unique ID of the subscription"                                                                                                       :always-available? true}
          { :name "originalSubscriptionId" :type :string                        :description "Unique ID of the original subscription, if empty this is the first time user bought subscription for product"                         :always-available? true}
          { :name "clientId"             :type :string                          :description "Your client ID"                                                                                                                      :always-available? true}
          { :name "userId"             :type :string                            :description "User id who bought the subscription"                                                                                                 :always-available? true}
          { :name "productId"            :type :string                          :description "Unique product ID"                                                                                                                   :always-available? true}
          { :name "parentProductId"      :type :string                          :description "ID of the parent product, if any"                                                                                                    :always-available? false}
          { :name "identifierId"         :type :string                          :description "ID of the payment identifier that will be used to renew the subscription"                                                            :always-available? true}
          { :name "paymentType"          :type :payment-type                    :description "0 for SchAcc, 1 for Payment Platform"                                                                                               :always-available? true}
          { :name "orderId"              :type :string                          :description "ID of the original order"                                                                                                            :always-available? true}
          { :name "startDate"            :type :datetime                        :description "From when the subscription is/was active"                                                                                            :always-available? true}
          { :name "originalPurchaseDate" :type :datetime                        :description "When the subscription was originally purchased"                                                                                      :always-available? true}
          { :name "expires"              :type :datetime                        :description "When the subscription expires"                                                                                                       :always-available? true}
          { :name "autoRenew"            :type :boolnum                         :description "If `\"1\"`, the subscription will automatically renew on the `expires` date."                                                        :always-available? true}
          { :name "renewPrice"           :type :price                           :description "The price of renewal, in cents"                                                                                                      :always-available? true}
          { :name "currency"             :type :string                          :description "The renewal price currency"                                                                                                          :always-available? true}
          { :name "renewPeriod"          :type :timestamp                       :description "Renewal period"                                                                                                                      :always-available? true}
          { :name "autoRenewLockPeriod"  :type :timestamp                       :description "Length of the initial period after activation during which it is not allowed to change the auto renew setting for the subscription." :always-available? true}
          { :name "stopRenewalAfterLock" :type :boolnum                         :description "When `\"1\"`, the subscription's auto renew will be stoped after the lock period is over."                                           :always-available? true}
          { :name "autoRenewDisabled"    :type :boolnum                         :description "When `\"1\"`, the subscription's auto renew cannot be changed."                                                                      :always-available? true}
          { :name "gracePeriod"          :type :timestamp                       :description "The length of the period the subscription stays active after charging for a renewal fails."                                          :always-available? false}
          { :name "emailReceiptCount"    :type :integer-string                  :description "The number of receipts sent via email to the user"                                                                                   :always-available? true}
          { :name "finalEndDate"         :type :datetime                        :description "If provided, this date denotes the time when the subscription will no longer be available for sale."                                 :always-available? false}
          { :name "chargeRetryCount"     :type :integer-string                  :description "The number of times the previous charge has been retried"                                                                            :always-available? true}
          { :name "chargeLastRetry"      :type :datetime                        :description "Time of the last charge retry"                                                                                                       :always-available? false}
          { :name "status"               :type :subscription-status             :description "The subscription's current status"                                                                                                   :always-available? true}
          { :name "statusChangeCode"     :type :subscription-status-change-code :description "A description of the last change to the subscription's status"                                                                       :always-available? false}
          { :name "statusChangeDate"     :type :datetime                        :description "The date of the last change to the subscription's status"                                                                            :always-available? false}
          { :name "updated"              :type :datetime                        :description "Date and time of last update to the subscription"                                                                                    :always-available? true}
          { :name "created"              :type :datetime                        :description "Date and time when the subscription was created"                                                                                     :always-available? true}
          { :name "product"              :type :product                         :description "The product this subscription belongs to"                                                                                            :always-available? true}]}
