{:id :terms
 :name "Terms"
 :fields [{:name "terms"    :type :string  :always-available? true :description "The current terms, as HTML"}
          {:name "accepted" :type :boolean :always-available? true :description "If requested with a user token, this field is `true` if the user has accepted the terms."}
          {:name "summary"    :type [:string]  :always-available? true :description "Contains terms summary (platform and client)"}
          {:name "platform_privacy_url"    :type :string  :always-available? true :description "Link do platform privacy"}
          {:name "privacy_url"    :type :string  :always-available? true :description "Link do client privacy"}]}
