{:id :user
 :name "User"
 :description "The user object is based on the [portable contacts
specification](http://portablecontacts.net/draft-spec.html). It is extended with
some custom fields. `userId` is an integer and represents the unique user ID.
`id` is a legacy uuid and should be ignored in new integrations. The `email` and
`phoneNumber` fields will always contain the primary used for both if available.
The corresponding *Verified fields are the date of the last time those were
verified.

When requesting a user that is not connected to the authorized client, only
public profile data will be available:

* `id`
* `userId`
* `status`
* `displayName`
* `name`
* `gender`
* `preferred_username`
* `utcOffset`
* `published`
* `updated`
* `lastLoggedIn`
* `locale`
* `tracking`
"
 :fields [{:name "id"                  :type :string         :description "Legacy `uuid`. Don't use. [Portable contacts](http://portablecontacts.net/draft-spec.html#anchor16)" :always-available? true}
          {:name "userId"              :type :integer-string :description "Unique user ID. Custom extension." :always-available? true}
          {:name "name"                :type :name           :description "The user's full name" :always-available? true}
          {:name "displayName"         :type :string         :description "Name suitable for displaying to end-users." :always-available? true}
          {:name "published"           :type :date-time      :description "The date this user was first added" :always-available? true}
          {:name "updated"             :type :date-time      :description "The most recent date the details of this user were updated" :always-available? true}
          {:name "status"              :type :user-status    :always-available? true}
          {:name "email"               :type :string         :description "Primary email" :always-available? true}
          {:name "emailVerified"       :type :string         :description "Date when the email was last verified."}
          {:name "emails"              :type [:email]        :always-available? true :description "All user's registered email addresses."}
          {:name "phoneNumber"         :type :string         :description "Primary phone number"}
          {:name "phoneNumberVerified" :type :string         :description "Date when the phone number was last verified."}
          {:name "phoneNumbers"        :type [:phone-number] :description "All user's registered phone numbers."}
          {:name "verified"            :type :string         :description "Date when user last verified data (email, phone number)"}
          {:name "url"                 :type :string}
          {:name "photo"               :type :string         :description "URL to a photo of the user (GIF/JPG/PNG)"}
          {:name "preferredUsername"   :type :string}
          {:name "gender"              :type :string         :description "One of undisclosed, female, male. Default is undisclosed. [Portable contacts](http://portablecontacts.net/draft-spec.html#anchor16)" :always-available? true}
          {:name "birthday"            :type :date           :description "Date of birth in YYYY-MM-DD format. Year will be 0000 if not provided. Defaults to 0000-00-00. [Portable contacts](http://portablecontacts.net/draft-spec.html#anchor16)" :always-available? true}
          {:name "locale"              :type :string         :description "The user's preferred locale. Locales follow ISO Language and country codes respectively, joined by an underscore." :always-available? true}
          {:name "utcOffset"           :type :string         :description "The user's timezone, given as offset from UTC." :always-available? true}
          {:name "lastLoggedIn"        :type :datetime       :always-available? true}
          {:name "lastAuthenticated"   :type :datetime       :description "The last time the user authenticated with their password" :always-available? true}
          {:name "imported"            :type :datetime}
          {:name "migrated"            :type :datetime}
          {:name "addresses"           :type {:type :address}}
          {:name "accounts"            :type [:account]      :description "Third-party accounts and other client services"}
          {:name "merchants"           :type :array          :description "List of SPiD merchants the user is connected to"}
          {:name "currentLocation"     :type [:address]}
          {:name "tracking"            :type :boolean        :description "If `true`, the user has behavioral tracking enabled (pilot feature, may not remain as-is)"}]}
